

%section
  .container
    .definition-row
      %aside#definition-top
        %nav.definition-links
          - data.curriculum_weeks.each_with_index do |week, index|
            %a.definition-link{href: "#definition-#{index}"}= week[:title]
      %article
        - data.curriculum_weeks.each_with_index do |week, index|
          .category
            %h4{id: "definition-#{index}"}= week[:title]
            %dl.definition{id: slug(week[:title])}
              %dt= week[:summary]
              %dd
                %p= week[:blurb]
    .centered-row
      = link_to 'Tillbaka', '/curriculum', class: 'button button--vertical'

