!!!
%html
  %head
    <!--[if gt IE 8]><!-->
    = stylesheet_link_tag 'all'
    <![endif]-->
    <!--[if lte IE 8]><!-->
    = stylesheet_link_tag 'compatibility'
    <![endif]-->
    %meta{charset: 'utf-8'}/
    %meta{content: 'ie=edge', 'http-equiv' => 'x-ua-compatible'}/
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}/
    %link{href: image_path('favicons/favicon.ico'), rel: 'shortcut icon', type: 'image/x-icon'}/
    = display_meta_tags site: 'Learn how to program in 12 weeks with Craft Academy'

    = partial :'social_media_meta'

    - if page_is_sa_homepage?
      = partial :'facebook_pixel'

    -unless current_page_is_sa?
      = partial :'analytics_scripts'

  %body{class: page_classes}
    - if current_page_is_sa?
      = partial :'google_tag_manager_sa'

    = partial :'deprecated_browser_warning'
    = partial :'english/partials/navigation'
    = yield

    = partial :'english/partials/footer'

    = javascript_include_tag 'all'
    = javascript_include_tag 'doorbell_en'
    = javascript_include_tag 'mailchimp'

    - if config.show_baseline_grid
      %script{:src => 'http://files.keyes.ie/things/baseliner/baseliner-latest.min.js'}
        :cdata
      :javascript
        window.onload = function() {
            var baseliner = new Baseliner(27);
            baseliner.toggle();
        }
