%ul.column
  %li
    %h3 Social media
  %li
    = link_to 'Facebook', 'https://www.facebook.com/CraftAcademyAfrica/', target: '_blank'
  %li
    = link_to 'Blog', 'https://blog.craftacademy.se/', target: '_blank'
%ul.column
  %li
    %h3 Contact
  %li
    %address.vcard
      %span.email
        = link_to 'diraulo@craftacademy.se', 'mailto:diraulo@craftacademy.se'
      .adr
        %p
          %span.org Craft Academy
          %br
          %span.org
            = link_to '(ThinkBots Pty Ltd.)', '//thinkbots.io'
          %br
          %span.street-address 4 Burger Ave,
          %br
          %span.street-address Lyttleton Manor
          %br
          %span.locality Centurion,
          %span.postal-code 0157
          %br
          %span.country-name South Africa
          %br
      .tel
        = link_to '+27 (0) 12 997 1568', 'tel:+27129971568'
