- color ||= ''
%footer{role: 'contentinfo', style: current_page_is_campaign_page? ? "background-color: #{color} !important" : ''}
  .container{style: current_page_is_campaign_page? ? "background-color: #{color} !important"  : ''}
    .footer-links
      - if current_page_is_sa?
        %ul.column
          %li
            %h3 Social media
          %li
            = link_to 'Facebook', 'https://www.facebook.com/CraftAcademySA/', target: '_blank'
          %li
            = link_to 'Blog', 'https://blog.craftacademy.se/', target: '_blank'
        %ul.column
          %li
            %h3 Contact
          %li
            %address.vcard
              %span.email
                = link_to 'diraulo@craftacademy.se', 'mailto:diraulo@craftacademy.se'
              .adr
                %p
                  %span.org Craft Academy
                  %br
                  %span.org
                    = link_to '(ThinkBots Pty Ltd.)', '//thinkbots.io'
                  %br
                  %span.street-address 634 Pretorius Street
                  %br
                  %span.postal-code 0083
                  %span.locality Pretoria,
                  %span.country-name South Africa
                  %br
              .tel
                = link_to '+27 (0) 71 071 5114', 'tel:+27710715114'
        %ul.column
          %li
            %h3 Legal stuff
          %li
            = link_to 'Terms', '/terms.html'
          %li
            = link_to 'Privacy Policy', '/privacy.html'

      - else
        %ul.column
          %li
            %h3 Sociala media
          %li
            = link_to 'Facebook', 'https://www.facebook.com/craftacademysweden', target: '_blank'
          %li
            = link_to 'Twitter', 'https://twitter.com/CraftAcademySE', target: '_blank'
          %li
            = link_to 'YouTube', 'https://www.youtube.com/makersacademyse', target: '_blank'
          %li
            = link_to 'Blog', 'https://blog.craftacademy.se/', target: '_blank'
        %ul.column
          %li
            %h3 Kontakt
          %li
            %address.vcard
              %span.email
                = link_to 'info@craftacademy.se', 'mailto:info@craftacademy.se'
              .adr
                %p
                  %span.org Craft Academy
                  %br
                  %span.street-address Chalmers Innovation/Stena Center,
                  %span.street-address Holtermansgatan 1D
                  %br
                  %span.postal-code 411 29
                  %span.locality Göteborg,
                  %span.country-name Sverige
                  %br
              .tel
                = link_to '+46 (0)763 260705', 'tel: +46 (0)763 260705'
            = link_to 'Om oss', '/about_us'
        %ul.column
          %li
            %h3 Legal stuff
          %li
            = link_to 'Allmänna villkor', '/terms.html'
          %li
            = link_to 'Privacy Policy', '/privacy.html'
    .footer-logos
      .footer-logo
        = image_tag 'logo/graphic_only_logo_white.png', class: 'logo'
    .footer-copyright
      %p
        - if current_page_is_sa?
          %small
            = "Craft Academy is a service provided by ThinkBots Pty Ltd. &copy; #{Time.now.year}"
        - else
          %small
            = "Craft Academy är en utbildningstjänst från Pragmatic Sweden AB. &copy; #{Time.now.year}"
