%section.full-slider.backgrounded.with-padding
  .slider
    - data.graduate_projects.each do |project|
      .slide{ style: "background-image: url(#{image_path("graduate_projects/#{project[:image]}")})" }
        .container
          .centered-row
            %h4.leader Final Project
            %h2= project[:name]
            %h4.subheader= project[:team]
            %h4.subheader= project[:cohort]
            %p= project[:blurb]
          .button-row
            %p
              = link_to "See it live", project[:live_link], class: "button button--horizontal", target: "_blank"
              = link_to "View code", project[:code_link], class: "button button--horizontal", target: "_blank"
