.slider.lazy-slider
  - find_graduates(locals.fetch(:category, nil)).each do |grad|
    .slider-content
      %figure.with-caption
        .image--centered
          %img{'data-lazy' => image_path("graduates/#{grad[:image]}")}
        %figcaption
          %p= "#{grad[:first_name]} #{grad[:last_name]}"
          %p= grad[:summary]
          %p= "Graduated #{grad[:cohort_month]} #{grad[:cohort_year]}"
