
%section.backgrounded
  .container
    .image-grid-row
      = image_tag "hiring-partners/maker-lab.png", { alt: "Alt Text", title: "Title Text" }
      = image_tag "hiring-partners/cloud-credo.png", { alt: "Alt Text", title: "Title Text" }
      = image_tag "hiring-partners/new-bamboo.png", { alt: "Alt Text", title: "Title Text" }
      = image_tag "hiring-partners/ThoughtWorks.png", { alt: "Alt Text", title: "Title Text" }
      = image_tag "hiring-partners/mint-digital.png", { alt: "Alt Text", title: "Title Text" }
      = image_tag "hiring-partners/Factory.png", { alt: "Alt Text", title: "Title Text" }