
%section
  .container
    .three-width-row.row-with-borders
      .column
        .header-container
          %h4.leader Optional Leader
          %h3 Required Header
        %p
          Required text. Keep it punchy!
          = "#{lorem.words(4)}."
      .column
        .header-container
          %h3 Required Header
        %p
          Required text. Keep it punchy!
          = "#{lorem.words(4)}."
      .column
        .header-container
          %h4.leader Optional Leader
          %h3 Required Header
        %p
          Required text. Keep it punchy!
          = "#{lorem.words(4)}."
    .three-width-row.row-with-borders
      .column
        .header-container
          %h3 Required Header
        %p
          Required text. Keep it punchy!
          = "#{lorem.words(4)}."
      .column
        .header-container
          %h4.leader Optional Leader
          %h3 Required Header
        %p
          Required text. Keep it punchy!
          = "#{lorem.words(4)}."
      .column
        .header-container
          %h4.leader Optional Leader
          %h3 Required Header
        %p
          Required text. Keep it punchy!
          = "#{lorem.words(4)}."