- description "Craft Academy is London's leading Web Developer Bootcamp. Learn to code in 12 Weeks by enrolling on one of our programming / web development courses! Learn Ruby, JavaScript and the best software practices."
%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_3.jpg')});"}
  .container
    .centered-row
      %h4.leader Switch careers
      %h1 Become a Junior Developer
      %h4.subheader learn to code in 12 weeks
      %P Come and learn the principles of software craftsmanship and soon you'll be starting your career as a web developer. Craft Academy is Europe's leading Developer bootcamp. Over the past couple of years, we've graduated over #{stats.number_of_graduates} students into their dream jobs as junior developers - there's no reason why our next success story can't be you.
    = partial :"email-capture"

%section
  .article--centered
    %article
      %h3 Why should you consider a career in web development?
      %p Are you bored of a job that you accidently fell into? Are you in a creative rut? Do you yearn for a job without all the politics and backstabbing? Do you long to feel like you're actually doing something valuable, or making the world a better place, rather than just going through the motions and waiting for the weekend? It's not too late to transition to a career that makes you happy.
      %p The technology sector has been growing rapidly for years, and has been totally unaffected by the recession. With demand for developers growing 20% year-on-year, and supply of developers (mainly graduates of computer science degrees) flatlining at 1%, the tech industry is crying out for talent. In short - the tech industry needs you!
      %p Technology companies are well known for their fun offices and relaxed work environment. Our office at Craft Academy has everything from beanbags & table tennis to a hammock & board games! The culture in tech companies is friendly, egalitarian and truly meritocratic, so say goodbye to your stuffy suits - most people tend to wear casual clothes! You’ll also almost certainly have more freedom and flexibilty than your current role... And you get to build cool stuff as well!

%hr

%section.no-padding-bottom
  .article--centered
    %article
      %h3 This could be you
      %p Our graduates come from all walks of life, everything from lawyers to teachers, accountants to estate agents to senior managers, and many, many more. They had the belief in themselves to escape an unfulfilling career, and now they get to apply their creative skills to work that they enjoy, not to mention having a better work life balance!
      %p When was the last time you were so excited by your work that you jumped out of bed in the morning? Never?! Then quit now and make a change for the better - life’s too short not to be doing something you love.

= partial :"full_graduates", locals: { category: "career changer" }

%section.hero{style: "background-image: url(#{image_path('backgrounds/splash_2.jpg')});"}
  .container
    .centered-row
      %h4.leader Meet
      %h2 Our hiring partners
      %p The average salary for a Craft Academy graduate as a junior developer is £32k, and after a few years experience that number jumps up to £45,000. Compare that to the UK average of £26,500 and you can see how lucrative a career coding can be.
    .three-width-row
      .column
        .image--centered
          = image_tag "hiring-partners/Atos.png"
        .image--centered
          = image_tag "hiring-partners/compare-the-market.png"
      .column
        = link_to "Learn about Partners", "/employers.html", class: "button button--horizontal"
      .column
        = image_tag "hiring-partners/Deloitte-Digital.png"
        = image_tag "hiring-partners/just-giving.png"

%section.half-slider.half-slider--reverse.with-padding
  .container
    .half-slider-row
      .hide-desktop
        .copy.copy--right
          %h4.leader A World-Leading
          %h2 Curriculum
          %p We're passionate about education and software development. Our course has been designed by industry experts to introduce you to the most-used technologies in today's marketplace, and to equip you with the skills you need to quickly find a job as a junior developer.
          .button-row.shift-to-bottom
            %p
              = link_to "Our Education Philosophy", "/curriculum.html", class: "button button--horizontal"
      .column
        .slider
          .slide
            .image--centered
              = image_tag "technologies/ruby-logo.png", height: 150
            %h3 Ruby
            %p Ruby is a general-purpose programming language. The brainchild of many other brilliant languages, it's an intuitive route into programming. Ruby is used in web applications through frameworks like Rails and Sinatra.
          .slide
            .image--centered
              = image_tag "technologies/html5-logo.png", height: 150
            %h3 HTML
            %p HTML is the building material of the web. We'll guide you towards building beautiful, structured webpages and altering content dynamically, both on the server and client-side.
          .slide
            .image--centered
              = image_tag "technologies/javascript-logo.png", height: 150
            %h3 JavaScript
            %p JavaScript is rapidly becoming the biggest programming language in the world. You can use it anywhere: to animate text on a page, to run a high-throughput server, and to enable your coffee machine to work over WiFi.
          .slide
            .image--centered
              = image_tag "technologies/git-logo.png", height: 150
            %h3 git
            %p git is the world's most popular way to manage, share, and distribute code. We embed best GitHub practices from the get-go, which perfectly suits out focus on Pair Programming - and our Hiring Partners.
      .column.show-desktop
        .copy.copy--right
          %h4.leader A World-Leading
          %h2 Curriculum
          %p We're passionate about education and software development. Our course has been designed by industry experts to introduce you to the most used technologies in today's marketplace, and to equip you with the skills you need to quickly find a job as a Junior Developer.
          .button-row
            %p
              = link_to "Our Education Philosophy", "/curriculum.html", class: "button button--horizontal"

%hr

= partial :"benefits_table"

= partial :"apply"
