- description "Craft Academy is London's leading Web Developer Bootcamp. Learn to code in 12 Weeks by enrolling on one of our programming / web development courses! Learn Ruby, JavaScript and the best software practices."
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/dan-and-students-overhead-70.jpg")});"}
  .container
    .centered-row
      %h1 Bli din egna CTO
      %h4.subheader Lär dig att koda

      %P
        Har du någonsin drömt om att starta eget företag? Du kanske redan är företagare och vill själv kunna skapa företagets webbplats
        för att vara säker på att din vision blir verklighet? Engagera dig i varje aspekt av din verksamhet och lär dig det mest väsentliga
        kunskap för framtiden: kodning!
      = partial :'email-capture'

%section
  .article--centered
    %article
      %h3 VARFÖR SKA DU LÄRA DIG ATT KODA INNAN DU STARTAR DITT FÖRETAG?
      %p.copy--left
        Du kan har den bästa av idéer som har en potential att bli riktigt stort, men om du inte kan genomföra den,
        är den helt meningslös och utan värde. Att försöka hitta en teknisk medgrundare till ditt företag som kan hjälpa
        till att bygga din idé är svårt och att outsourca utvecklingen eller anställa programmerare är riskfylld och kostsamt.
      %p.copy--left
        I dagens teknikdrivna värld kan kunskapen om webb- och applikationsutveckling betyda skillnaden mellan framgång och misslyckande.
        Du kan spara tid, pengar och stress genom att lära hur man bygger egna projekt för dina entreprenörssatsningar.%hr

%section.no-padding-top.no-min-height
  .article--centered
    %article
      %h3 This could be you
      %p Our graduates have gone on to build successful businesses, been accepted into accelerators, and secured further funding. Read their stories below.

= partial :"full_graduates", locals: { category: "entrepreneur" }
%hr


%section.half-slider.half-slider--reverse.with-padding
  .container
    .half-slider-row
      .hide-desktop
        .copy.copy--right
          %h4.leader A World-Leading
          %h2 Curriculum
          %p We're passionate about education and software development. Our course has been designed by industry experts to introduce you to the most-used technologies in today's marketplace, and to equip you with the skills you need to quickly find a job as a junior developer.
          .button-row.shift-to-bottom
            %p
              = link_to "Our Education Philosophy", "/curriculum.html", class: "button--horizontal"
      .column
        .slider
          .slide
            .image--centered
              = image_tag "technologies/ruby-logo.png", height: 150
            %h3 Ruby
            %p Ruby is a general-purpose programming language. The brainchild of many other brilliant languages, it's an intuitive route into programming. Ruby is used in web applications through frameworks like Rails and Sinatra.
          .slide
            .image--centered
              = image_tag "technologies/html5-logo.png", height: 150
            %h3 HTML
            %p HTML is the building material of the web. We'll guide you towards building beautiful, structured webpages and altering content dynamically, both on the server and client-side.
          .slide
            .image--centered
              = image_tag "technologies/javascript-logo.png", height: 150
            %h3 JavaScript
            %p JavaScript is rapidly becoming the biggest programming language in the world. You can use it anywhere: to animate text on a page, to run a high-throughput server, and to enable your coffee machine to work over WiFi.
          .slide
            .image--centered
              = image_tag "technologies/git-logo.png", height: 150
            %h3 git
            %p git is the world's most popular way to manage, share, and distribute code. We embed best GitHub practices from the get-go, which perfectly suits out focus on Pair Programming - and our Hiring Partners.
      .column.show-desktop
        .copy.copy--right
          %h4.leader A World-Leading
          %h2 Curriculum
          %p We're passionate about education and software development. Our course has been designed by industry experts to introduce you to the most used technologies in today's marketplace, and to equip you with the skills you need to quickly find a job as a Junior Developer.
          .button-row
            %p
              = link_to "Our Education Philosophy", "/curriculum.html", class: "button--horizontal"
%hr


= partial :'apply'
