- description "Craft Academy is London's leading Web Developer Bootcamp. Learn to code in 12 Weeks by enrolling on one of our programming / web development courses! Learn Ruby, JavaScript and the best software practices."
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/dan-and-students-overhead-70.jpg")});"}
  .container
    .centered-row
      %h1 Learn Ruby In 15 Minutes
      %h4.subheader Download the guide
      %P Get a free copy of our Learn Ruby In 15 Minutes e-book by signing up to our newsletter. It's perfect for anyone that is interested in taking the plunge by learning to code. It is a good start into the Ruby language if you've never had any experience before and we've made it as easy to understand as possible.
    = partial :"email-capture"

%section.full-slider
  .slider
    .slide
      .container
        %article
          %h4.leader Chapter 1:
          %h2 Installing Ruby
          %p
            %span You aren’t gonna get very far if you don’t even have Ruby installed on your machine now, are you?! In this section, you’ll be taken through the process of getting Ruby set up and working on your computer. *SPOILER ALERT* - if you own a Mac, you’re gonna enjoy this part. If you own a PC, this will be a true test of whether you really do want to learn to code!

    .slide
      .container
        %article
          %h4.leader Chapter 2:
          %h2 Methods and Variables
          %p
            %span Basic functions in Ruby are called methods, and variables are objects that ‘hold’ or ‘point to’ data for you to work with. In this section, we'll show you how to define variables and methods, how they work, where to use them, and how to get them showing up on your screen.
    .slide
      .container
        %article
          %h4.leader Chapter 3:
          %h2 Strings and Objects
          %p
            %span Everything in Ruby is an object! In this section you'll cover the basics of one of Ruby’s fundamental data types - Strings - and we’ll show you lots of fun ways you can use them, for example - how to \#{interpolate} them, and more.

    .slide
      .container
        %article
          %h4.leader Chapter 4:
          %h2 Arrays and Hashes
          %p
            %span Now that you’ve got the hang of Strings, it’s time to learn a few more data types - Arrays, and then Hashes. These objects allow you to store, use and manipulate more complex data. Once you’ve got your head around Methods & Variable, Strings, and then Arrays & Hashes, you should have a pretty good grasp on the basics of Ruby, and you’ll be ready to start writing some interesting code.

    .slide
      .container
        %article
          %h4.leader Chapter 5:
          %h2 Bonus Challenges
          %p
            %span As with learning a language or riding a bike, you don’t really start learning to code until you actually start writing code - ideally to solve real-world problems. As a bonus, we've devised some fun but informative challenges for you to test and hone your new Ruby skills. Keep your eyes on our Newsletter for a solutions manual - coming soon...!

- description "Craft Academy is London's leading Web Developer Bootcamp. Learn to code in 12 Weeks by enrolling on one of our programming / web development courses! Learn Ruby, JavaScript and the best software practices."
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/dan-and-students-overhead-70.jpg")});"}
  .container
    .centered-row
      %h1 Learn Ruby In 15 Minutes
      %h4.subheader Download the guide
    = partial :"email-capture"
