- description 'Craft Academy South Africa is a leading Web Developer Bootcamp. Learn to code in 12 Weeks by enrolling on one of our programming / web development courses! Learn Ruby, JavaScript and the best software practices.'
%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_1.jpg')});"}
  .container
    .centered-row
      %h1 Learn the craft of coding
      %h4.subheader
        = 'Spend 12 weeks with South Africa´s #1 Developer Bootcamp<br>and hit the ground running.'.html_safe
      = partial :'email-capture', locals: { language: 'en' }

%section
  .container
    %atricle
      %h2 Become a Web Developer with our remote coding camp that joins education and project work.
      %p.copy--left
        Craft Academy offer 6 months long developer programme in South Africa. With Craft Academy you’ll learn the core skills of a web developer during a fast-paced, fully immersive camp and get yourself up to speed.
        With our partnering organization AgileVentures.org, you'll get a chance to work on real customer projects and start to build your portfolio of projects. Apart from a computer and good internet access, you'll need a good portion of determination, motivation and a willingness to work hard. If you have that, you will succeed in becoming a junior software developer.
      %p.copy--left
        Submit your application now. The next camp will start
        %spean
          %strong October 3rd
        and we have a few
        %span
          %strong
            Early Bird spots priced at R15 000
        (Regular price R35 000).
%hr
%section
  .container
    %article
      %h2 Why should you Learn to code?
      %h4 Take a giant leap in t0 the software development industry
      %p.copy--left
        The concept of Craft Academy Bootcamp is simple, it is a 12-weeks intensive coding camp, aimed at teaching you the fundamentals
        of web development, enabling you to hit the ground running – and keep running.
        But what is important is that modern engineering practices are considered to be part of this foundation.
        As a student, you work from day one with automated testing, continuous integration and deployment,
        and other essential skills. Meaning that when you enter the workforce and are faced with a problem,
        your instinct will be to solve right rather than just hacking a solution together.
      %p.copy--left
        During 12 weeks immersive, instructor-led, remote camp, we prepare students with little/no experience in programming for a career in tech and teach them the fundamentals of web development. We teach all the latest technologies, like Ruby on Rails, HTML5, CSS, Javascript, jQuery, SQL, Ajax but also skills like Object Oriented Design, Test Driven Development, Agile Methodology and version control with Git.

    .half-slider.half-slider--reverse
      .half-slider-row
        .hide-desktop
          .copy.copy--right
            %h4.leader Craft Academy's unique
            %h2 Curriculum
            %p
              Our challenge based curriculum with a step-by-step introduction of different technologies and levels of complexity, allows our learners to explore different areas of what it means to develop software and applications for the web and mobile devices.
            %p
              During the 12 week long bootcamp, our learners work through a series of projects that takes them from no knowledge about software development to a level of junior developers.
        .column
          .slider
            .slide
              %h3 Programming skills
              %p
                You'll be coding from day one and learn to write clean, elegant, easy to read code.
                During the camp you'll be introduced to a broad variety of technologies. Both for the back-end and the front-end.
              %p
                HTML5, CSS, JavaScript, Ruby, AngularJS, Sinatra, Middleman, Ruby on Rails, Ionic are examples of programming languages and frameworks you'll be
                using during the camp.

            .slide
              %h3
                = 'Agile<br>software<br>development'.html_safe
              %p
                Agile development involves adaptive planning, evolutionary development, early delivery, continuous improvement, and encourages rapid and flexible response to change.
                It promotes  delivering working, tested software in increments. We work with different agile methodologies during the campm
                such as XP, Scrum and Kanban.
            .slide
              %h3 Collaboration
              %p
                Pair programming is great in learning as well as in real project work. It boosts long-term productivity by substantially improving the quality of the code.
                We mix group challenges with individual ones to provide you with a balanced learning experience and a chance to practice team work and collaboration.
            .slide
              %h3 Version Control
              %p
                git is the world's most popular way to manage, share, and distribute code. We embed best git and GitHub practices from the start, which perfectly suits our focus on Pair Programming - and our Hiring Partners needs
            .slide
              %h3 Best practices
              %p
                We focus on giving you the best industry standards and practices to accelerate your learning and giving you the necessary skill you'll need as a junior developer.
                Practices such as Pair programming, Test-Driven Development, Rigorous, regular refactoring, Continuous integration, Simple design are fully integrated in our curriculum.
        .column.show-desktop
          .copy.copy--right
            %h4.leader Craft Academy's unique
            %h2 Curriculum
            %p
              Our challenge based curriculum with a step-by-step introduction of different technologies and levels of complexity, allows our learners to explore different areas of what it means to develop software and applications for the web and mobile devices.
            %p
              During the 12 week long bootcamp, our learners work through a series of projects that takes them from no knowledge about software development to a level of junior developers.


= partial :'course_dates', locals: { language: 'en' }
= partial :'apply', locals: { language: 'en' }
= partial :'full_curriculum_pretoria'
