- description 'Lär dig programmering och webbutveckling på 12 veckor. Craft Academy är en intensiv & praktiskt inriktad utbildning där man får man lära sig programmera i JavaScript, Ruby, HTML5, CSS, mm. Vi erbjuder utbildningar i Göteborg, Stockholm och på distans'
%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_1.jpg')});"}
  .container
    .centered-row
      %h4.leader Vi brinner för utbildning
      %h1 Om Craft Academy
      %p
        %strong
          Craft Academy Bootcamp är en intensiv kurs designad för att ta dig från noll till junior utecklare på bara 12 veckor. Vi som driver Craft Academy är själva yrkesverksamma utvecklare med årtionden av erfarenhet inom applikationsutveckling och utbildning.
= partial :'our_mission'
= partial :'find_us'
= partial :'course_dates'
= partial :'what_you_get'
= partial :'apply'
