- description 'Letar du utvecklare till ditt team? Anställ juniora utvecklare från Craft Academy.'
- title 'Arbetsgivare'
%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_3.jpg')});"}
  .container
    .centered-row
      %h4.leader Anställ
      %h1 Juniora utvecklare från Craft Academy
      /%p 30 new candidates every 6 weeks
    .button-row
      %p
        = link_to 'Anställ utvecklare', 'https://makerssweden.typeform.com/to/SQcaqh', class: 'button button--vertical', target: '_blank'

%section
  .container
    .centered
      %h2 Redo för produktion?
      %p.copy--left Vi är måna om att våra deltagare kan så mycket som möjligt och vi jobbar riktigt hårt på att få upp deras kompetensnivå till en nivå som gör dem anställningsbara och redo att sättas in i produktion så fort som möjligt.
    .three-width-row.centered-row
      .column
        = image_tag 'icons/icon-heart.png', class: 'image--small'
        %h4 Passion
        %p Drivna, nyfikna och engagerade. Våra studenter har, genom att vara med på Craft Academy, visat att de är beredda att kämpa och ta ansvar för sin utveckling och gett sig in på en näst intill omöjlig resa: att lära sig att koda på 12 veckor.
      .column
        = image_tag 'icons/icon-craft.png', class: 'image--small'
        %h4 Kompetens
        %p Under sin tid på Craft Academy har våra studenter fått jobba med minst tre programmeringsspråk eller ramverk. De praktiserar testdriven utveckling och jobbar enligt SOLID och Agila principer i sina projekt.
      .column
        = image_tag 'icons/icon-briefcase.png', class: 'image--small'
        %h4 Erfarenhet
        %p Alla är nybörjare någon gång - även studenter på Craft Academy. Det som skiljer dem från andra juniora utvecklare är att de har skrivit kod från dag ett och har, efter avslutad utbildning hos oss, minst två projekt i sin portfölj.

%section
  .container
    .row
      %h2 Att vara en Hiring Partner
      %h4 Vi vet att en rekryteringsprocess är väldigt känslig och att det helt enkelt inte får bli fel när man väljer en ny medarbetare
      %p.copy--left
        Samarbetet med oss handlar om så mycket mer än att du bara får en lista med kandidater. Vi tror att ju tidigare ni får en relation med våra studenter desto bättre blir resultatet - såväl för er som för studenterna.
        Vår erfarenhet visar att de som lyckas bäst med sin rekrytering från utbildningar som Craft Academy är de företag som på ett tidigt stadium visar engagemang. Det vi förväntar oss av er som en Hiring Partner är att ni deltar i följande aktiviteter:
    .centered-row
      %table
        %thead
          %tr
            %th{style:'width: 45%' }
              Aktivitet
            %th{style:'width: 15%' }
              Tid
            %th{style:'width: 40%' }
              Hur ofta?
        %tbody
          %tr
            %td
              %h4 Hålla en 'Lunchtime Talk'
              %p.copy--left
                Presentera företaget och människorna som jobbar i organisationen. Berätta om er verksamhet och vad ni jobbar med. Ge deltagarna tillfälle att bekanta sig med er.
            %td 1 timma
            %td 1 gng per grupp/cohort
          %tr
            %td
              %h4 Vara värd för en 'Craft Workshop'
              %p.copy--left
                Presentera egna problemställningar och utmana studenterna att komma upp med lösningar. Ett bra sätt att få reda på kunskapsnivå och lära känna deltagarnas kreativa sidor.
            %td 1 dag
            %td 1 gng per grupp/cohort
          %tr
            %td
              %h4 Delta på demodag
              %p.copy--left
                I samband med avslutningen anordnar vi en demo dag där deltagarna visar upp sina slutprojekt. Efteråt umgås vi och minglar. Det är en stor dag för deltagarna som markerar slutet på en resa och början på en ny. Var med på den och ge dem din feedback och stöd.
            %td 2 timmar
            %td Var 8:de vecka
          %tr
            %td
              %h4 Pitcha på karriärdagen
              %p.copy--left
                Varannan månad anordnar vi en karriärdag där våra Hiring Partners kan presentera sina företag. Karriärdagen vänder sig till både nuvarande som potentiell framtida deltagare på Craft Academy.
            %td 2 timmar
            %td Var 8:de vecka
          %tr
            %td
              %h4 Umgås med deltagare
              %p.copy--left
                Det bästa sättet att lära känna någon är att umgås med personen i en avslappnad och informell miljö. Varannan onsdag anordnar vi en After Work i våra lokaler eller på en pub/bar dit alla Hiring Parners är välkomna.
            %td 45 - 60 minuter
            %td Varannan onsdag
          %tr
            %td
              %h4 Publicera dina jobberbjudanden
              %p.copy--left
                Vi har en job board där vi presenterar våra Hiring Partners och deras aktuella rekryteringar där ni kan publicera information allt efterssom era behov förändras.
            %td Ingen
            %td Utan begränsning
= partial :'_hire'


