- description 'Craft Academy is a leading Web Developer Bootcamp in Scandinavia. Learn to code in 12 Weeks by enrolling on one of our programming / web development courses! Learn Ruby, JavaScript and the best software practices.'
%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_gothenburg.jpg')});"}
  .container
    .centered-row
      %h1 Learn the craft of coding in Scandinavia
      %h4.subheader
        = 'Spend 12 weeks with Sweden’s #1 Developer Bootcamp<br>and hit the ground running.'.html_safe
      = partial :'email-capture', locals: { language: 'en' }

%section
  .container
    %article
      %h2 Why should you Learn to code?
      %h4 Take a giant leap in to the software development industry
      %p.copy--left
        The concept of Craft Academy Bootcamp is simple, it is a 12 week intensive coding camp, aimed at teaching you the fundamentals
        of web development, enabling you to hit the ground running – and keep running.
        But what is important is that modern engineering practices are considered to be part of this foundation.
        As a student, you work from day one with automated testing**, continuous integration and deployment,
        and other essential skills. Meaning that when you enter the workforce and are faced with problem,
        your instinct will be to solve right rather than just hacking a solution together.
      %p.copy--left
        During a 12 week immersive, instructor led, on-site camp, we prepare students with little/no experience in programming for a career in tech and teach them the fundamentals of web development. We teach all the latest technologies, like Ruby on Rails, HTML5, CSS, Javascript, jQuery, SQL, Ajax but also skills like Object Oriented Design, Test Driven Development, Agile Methodology and version control with Git.
      %p.copy--left
        %span
          %strong One of the biggest challenges that you might face when you learn how to code, is to know in which order you should learn things in.
          %strong Craft Academy offers a unique curriculum developed by professional software engineers and based on real cases and modern best practices.
    .half-slider.half-slider--reverse
      .half-slider-row
        .column
          .slider
            .slide
              %h3 Programming skills
              %p
                You'll be coding from day one and learn to write clean, elegant, easy to read code.
                During the camp you'll be introduced to a broad variety of technologies. Both for the back-end and the front-end.
              %p
                HTML5, CSS, JavaScript, Ruby, AngularJS, Sinatra, Middleman, Ruby on Rails, Ionic are examples of programming languages and frameworks you'll be
                using during the camp.

            .slide
              %h3
                = 'Agile<br>software<br>development'.html_safe
              %p
                Agile development involves adaptive planning, evolutionary development, early delivery, continuous improvement, and encourages rapid and flexible response to change.
                It promotes  delivering working, tested software in increments. We work with different agile methodologies during the camp
                such as XP, Scrum and Kanban.
            .slide
              %h3 Collaboration
              %p
                Pair programming is great in learning as well as in real project work. It boosts long-term productivity by substantially improving the quality of the code.
                We mix group challenges with individual ones to provide you with a balanced learning experience and a chance to practice team work and collaboration.
            .slide
              %h3 Version Control
              %p
                git is the world's most popular way to manage, share, and distribute code. We embed best git and GitHub practices from the start, which perfectly suits our focus on Pair Programming - and our Hiring Partners needs

            .slide
              %h3 Best practices
              %p
                We focus on giving you the best industry standards and practices to accelerate your learning and giving you the necessary skill you'll need as a junior developer.
                Practices such as Pair programming, Test-Driven Development, Rigorous, regular refactoring, Continuous integration, Simple design are fully integrated in our curriculum.
        .column.show-desktop
          .copy.copy--right
            %h4.leader Craft Academy's unique
            %h2 Curriculum
            %p
              Our challenge based curriculum with a step-by-step introduction of different technologies and levels of complexity, allows our learners to explore different areas of what it means to develop software and applications for the web and mobile devices.
            %p
              During the 12 week long bootcamp, our learners work through a series of projects that takes them from no knowledge about software development to a level of junior developers.


            -#.button-row
            -#  %p
            -#    = link_to 'Education Manifesto', 'https://blog.makersacademy.se/education-manifesto/', class: 'button button--horizontal', target: '_blank'
            -#

%hr
%section
  .container
    %atricle
      %h2 Foreign students
      %p.copy--left
        All our classes are held in english. You can join our bootcamp both on-site or remote. As a student, you will become a part of a lerger group of students
        that code together, learn together and struggle together. If you wish to join the camp as a
        %span
          %strong remote student
        you should consider that the classes are hold daily in
        %span
          %strong European timezones (UTC + - 2).
      %h2 Course fees
      %p.copy--left
        Our on-site premium package for foreign students is
        %span
          %strong £7140
        and includes course fee and accommodation in a shared flat during your 3 months stay in Gothenburg, Sweden.
        -#%p.copy--left
        -#  At the moment we have a special offering for EdX
        -#  %span
        -#    %a{href: 'https://www.edx.org/course/agile-development-using-ruby-rails-uc-berkeleyx-cs169-1x'}Agile Development Using Ruby on Rails
        -#  students and alumni
        -#  %strong on the August or October cohort
        -#  (see Class Schedule below):
        -#%ul
        -#  %li
        -#    %span
        -#      %strong £5700 (20% discount)
        -#    for a on-site spot
        -#  %li
        -#    %span
        -#      %strong £2600 (60% discount)
        -#    for a remote spot
        -#%p.copy--left
        -#  Please
        -#  %span
        -#    %a{href: 'mailto:info@craftacademy.se'}send us an email
        -#  or use the form below to enroll.
        -#  %span
        -#    %strong The deadline for this discount offer is August 1st.
= partial :'course_dates', locals: { language: 'en' }
= partial :'apply', locals: { language: 'en' }
= partial :'full_curriculum_pretoria'
