%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/startup-fade-or.jpg')});"}
  .container
    .centered-row
      %article
        %h4.leader Craft Academy Bootcamp
        %h2 Läroplan vecka för vecka
= partial :'curriculum/full_curriculum_vertical'
= partial :'course_dates'
= partial :'what_you_get'
= partial :'apply'

