%footer{role: 'contentinfo'}
  .container
    .footer-links
      - if current_page_is_sa?
        = partial :'english/partials/footer_sa'
      - else
        = partial :'english/partials/footer_se'
      %ul.column
        %li
          %h3 Legal stuff
        %li
          = link_to 'Terms and Conditions', '/terms.html'
        %li
          = link_to 'Privacy Policy', '/privacy.html'
    .footer-logos
      .footer-logo
        = image_tag 'logo/graphic_only_logo_white.png', class: 'logo'
    .footer-copyright
      %p
        %small
          = "Craft Academy is a service provided by Pragmatic Sweden AB. &copy; #{Time.now.year}"
