%section.no-padding-bottom.no-min-height
  .container
    .centered-row
      %h2 Meet Our Students
      %p{style: 'max-width: 90% !important;'}
        Craft Academy students come from diverse backgrounds. But when they graduate from bootcamp, they all have one thing in common: they are ready to work as web developers. From entrepreneurs developing their own products to mid-level executives who wanted to make a career shift, their stories show the value in practical training.

%section.full-slider{style: 'padding: 0px !important;'}
  .slider
    - find_en_graduates.each do | grad |
      .slide
        .container
          .profile-row
            .image.show-desktop
              = image_tag("people/#{grad[:image]}")
            .copy
              %h4.leader= "Graduated #{grad[:cohort_month]} #{grad[:cohort_year]}"
              %h2= "#{grad[:first_name]} #{grad[:last_name]}"
              %h4.subheader= grad[:summary]
              %blockquote= grad[:testimonial]
              .button-row.shift-to-bottom
                %p
                  - if grad[:case_study]
                    = link_to "Read #{possessivize(grad[:first_name])} story", "/english/students/#{graduate_slug(grad)}", class: 'button button--horizontal'
                  - elsif grad[:case_study_link]
                    = link_to "Read #{possessivize(grad[:first_name])} story", grad[:case_study_link], class: 'button button--horizontal', target: '_blank'
                  - if grad[:blog_link]
                    = link_to "Visit #{possessivize(grad[:first_name])} blog", grad[:blog_link], class: 'button button--horizontal', target: '_blank'
            .image.hide-desktop.no-padding
              = image_tag("people/#{grad[:image]}")
